<%- layout('layout/boilerplate.ejs') -%> 

<div class="index  rounded shadow-lg">
<div class="div w-50">
<img src="https://images.pexels.com/photos/221181/pexels-photo-221181.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid ">
</div>
<div class="text w-50 p-3">
<h2 class="display-1"> <em>Blogger, its free and always will be</em></h2>
</div>
</div>